@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .display-result-card {
        @apply absolute bg-slate-950 font-bold text-center rounded-t-lg;
        top: -60%;
        left: 50%;
        padding: 2.5rem 4rem;
        transform: translateX(-50%);
        z-index: -1;
    }

    #swap-icon:hover {
        animation-name: rotateSwapIcon;
        animation-duration: 1s;
        animation-iteration-count: infinite; 
        animation-direction: alternate;
    }

    @keyframes rotateSwapIcon{
        from {
            transform: rotateY(0deg)
        }
        to {
            transform: rotateY(180deg)
        }
    }
}